@import '../../../../scss/main.scss';

button {
    border-radius: 0.375rem;
    color: white;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;

    &.refresh-button {
        background-color: map-get($button-colors, success);

        &:hover {
            background-color: lighten(map-get($button-colors, success), 10%);
        }
    }

    &.import-button {
        background-color: map-get($button-colors, primary);

        &:hover {
            background-color: lighten(map-get($button-colors, primary), 10%);
        }
    }

    &.export-button {
        background-color: map-get($button-colors, warning);

        &:hover {
            background-color: lighten(map-get($button-colors, warning), 10%);
        }
    }

    &.clear-button {
        background-color: map-get($button-colors, danger);

        &:hover {
            background-color: lighten(map-get($button-colors, danger), 10%);
        }
    }

    &.delete-button {
        background-color: map-get($button-colors, danger);
        
        &:hover {
            background-color: lighten(map-get($button-colors, danger), 10%);
        }
    }

    
    &.sell-button {
        background-color: map-get($button-colors, success);
        
        &:hover {
            background-color: lighten(map-get($button-colors, success), 10%);
        }

        &[disabled] {
            background-color: gray;
        }
    }
}
