$button-colors: (
    success: #28a745,
    primary: #007bff,
    danger: #dc3545,
    warning: #ffc107
);

$light-green: #4CAF50;

$button-sizes: (
  default: 0.5rem 1rem,
  small:   0.3125rem 0.625rem
);