@use "sass:color";
@use "sass:map";

@use "./variables" as *;
@use "./mixins" as *;
@use "./utilities" as *;

@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";


button {
  @each $name, $key in (create: primary, delete: danger, edit: success) {
    &.#{$name}-button {
      @include btn-variant($key, map.get($button-sizes, default));

      &[disabled] {
        background-color: gray;
      }
    }
  }
}

input {
  border-width: 1px;
  border-color: black;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  th {
    background-color: $light-green;
    text-align: center;

    &:hover {
      background-color: color.adjust($light-green, $lightness: 10%);
    }
  }

  td input {
    padding: 0.25rem;
    border: 0;
    width: 100%;
  }
}

.general-form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  button[type="submit"],
  button[type="return"] {
    @include btn-variant(primary, map.get($button-sizes, default));

    &[type="submit"] {
      background-color: map.get($button-colors, success);

      &:hover:not(:disabled) {
        background-color: color.adjust(
          map.get($button-colors, success),
          $lightness: 10%
        );
      }
    }

    &[type="return"] {
      &:hover {
        background-color: color.adjust(
          map.get($button-colors, primary),
          $lightness: 10%
        );
      }
    }
  }
}