<div class="p-4">
    <!-- <div class="flex flex-row justify-between">
        <div class="flex gap-x-2">
            <button class="create-button" (click)="createButtonClicked()">Create</button>
            <button class="refresh-button" (click)="refreshButtonClicked()">Refresh</button>
            <button class="clear-button" (click)="clearButtonClicked()">Clear</button>
        </div>
        <div>
            <button class="export-button" (click)="exportButtonClicked()">Export</button>
            <!-- <button class="import-button mr-4" (click)="importButtonClicked()">Import</button> -->
        <!-- </div>
    </div> -->   
    <div class="flex flex-col px-5">
        <div class="flex gap-x-2 items-center justify-between">
            <h2 class="text-2xl font-semibold text-gray-500 mb-4">Items Catalog</h2>
            <button class="create-button" (click)="createButtonClicked()">Create</button>
        </div>
        <app-checkbox-filter [CheckboxCollection]="activityFilters" [CheckboxCollectionLabel]="'Extra Filters'" (filterChange)="fetchItems()"></app-checkbox-filter>
        <app-checkbox-filter [CheckboxCollection]="classFilters" [CheckboxCollectionLabel]="'Class Filters'" (filterChange)="fetchItems()"></app-checkbox-filter>
        <app-checkbox-filter [CheckboxCollection]="slotFilters" [CheckboxCollectionLabel]="'Slot Filters'" (filterChange)="fetchItems()"></app-checkbox-filter>
        <app-text-filter [SearchLabel]="'Item Name'" [SearchTextBind]="searchByItemNameFilter" (filterChange)="fetchItems()"> </app-text-filter>
        <button class="button button-small-danger mr-4" (click)="ClearAllFilters()">Clear Filters</button>
    </div>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let item">
                    {{item.id}}
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let item">
                    <a href="{{weaponUrlPartial}}{{item.name}}">
                        {{item.name}}
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="currentStock">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Stock </th>
                <td mat-cell *matCellDef="let item">
                    {{item.currentStock}}
                </td>
            </ng-container>

            <ng-container matColumnDef="tradesCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Trades </th>
                <td mat-cell *matCellDef="let item">
                    {{item.tradesCount}}
                </td>
            </ng-container>

            <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
                <td mat-cell *matCellDef="let item">
                    {{repeatStars(item.rating)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Active </th>
                <td mat-cell *matCellDef="let item">
                    <input type="checkbox" [checked]="item.isActive" disabled />
                </td>
            </ng-container>

            <ng-container matColumnDef="isWeapon">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Weapon</th>
                <td mat-cell *matCellDef="let item">
                    <input type="checkbox" [checked]="item.isWeapon" disabled />
                </td>
            </ng-container>

            <ng-container matColumnDef="classId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
                <td mat-cell *matCellDef="let item">
                    {{ getClassLabel(item.classId) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="slotId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Slot </th>
                <td mat-cell *matCellDef="let item">
                    {{ getSlotLabel(item.slotId) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element; let i = index" class="flex justify-center py-2">

                        <button class="edit-button ml-2" (click)="editButtonClicked(element.id)">Edit</button>
                        <button class="delete-button ml-2" (click)="deleteButtonClicked(element.id)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator showFirstLastButtons></mat-paginator>
    </div>
</div>