<form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="general-form">
  <h2>Create Item</h2>

  <div class="form-group">
    <label>Name *</label>
    <input class="px-2 py-1" formControlName="name" placeholder="Item name" />
    <div class="error" *ngIf="itemForm.get('name')?.touched && itemForm.get('name')?.invalid">
      Name is required.
    </div>
  </div>

  <div class="form-group">
    <label>Current Stock</label>
    <input type="number" class="px-2 py-1" formControlName="currentStock" placeholder="Number of Items" />
  </div>

          <div class="form-group">
      <label>Trades Made</label>
      <input type="number" class="px-2 py-1" formControlName="tradesCount" placeholder="Number of Trades Made" />
    </div>

  <div class="form-group">
    <label>Slot</label>
    <select formControlName="slotId">
      <option [value]="null">Select Slot</option>
      <option *ngFor="let q of slots" [value]="q.id">{{ q.label }}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Class</label>
    <select formControlName="classId">
      <option [value]="null">Select Class</option>
      <option *ngFor="let q of classes" [value]="q.id">{{ q.label }}</option>
    </select>
  </div>

  <div class="form-group checkbox-group">
    <label><input type="checkbox" formControlName="isActive" /> Active</label>
    <label><input type="checkbox" formControlName="isWeapon" /> Weapon</label>
  </div>

  <button type="submit" [disabled]="itemForm.invalid">
    Create
  </button>
    <button class="button button-large-blue" (click)="backButtonClicked()">
    Back
  </button>
</form>