@import '../../../scss/main.scss';
@import '../../../scss/variables.scss';

.my-container{
    margin: 6.25rem auto auto auto;
    max-width: 25rem;
    padding: .625rem;
    border-width: .0625rem;
    border-color: black;
    border-radius: .625rem;
    background-color: antiquewhite;
}