<div class="my-container">
    <div>
        <button (click)="startButtonClicked()" class="button button-small-green">Start Batch</button>
        <button (click)="resetButtonClicked()" class="button button-small-red">Reset</button>
        <button (click)="weaponsButtonClicked()" [hidden]="!this.isHatsSearch" [disabled]="!this.isHatsSearch" class="button button-small-blue">Weapons</button>
        <button (click)="hatsButtonClicked()" [hidden]="this.isHatsSearch" [disabled]="this.isHatsSearch" class="button button-small-yellow">Hats</button>

        <label class="float-right py-2 px-2">{{statusLabel}}</label>
    </div>
    <div class="flex-col pt-2">
        <div class="py-2">
            <label for="page-number">Current Page: </label>
            <input [(ngModel)]="currentPage" class="w-[5rem] ml-2 pl-2 rounded-md" type="number" min="1" max="500"
                step="1" title="Enter a positive number">
        </div>
        <div class="py-2">
            <label for="page-number">Batch Size: </label>
            <input [(ngModel)]="batchSize" class="w-[5rem] ml-2 pl-2 rounded-md" type="number" min="1" max="500"
                step="1" title="Enter a positive number">
        </div>
    </div>
</div>