<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="general-form w-[20rem]">
  <h2>Login</h2>

  <div class="form-group">
    <input
      class="px-2 py-1"
      formControlName="clientId"
      required
      placeholder="Client ID">
  </div>

  <div class="form-group">
    <input
      class="px-2 py-1"
      type="password"
      formControlName="clientSecret"
      required
      placeholder="Client Secret">
  </div>

  <button type="submit" [disabled]="isSubmitting">
    Log In
  </button>

  @if (error) {
    <p>{{ error }}</p>
  }
</form>
