<div class="table-container">
    <div class="flex flex-row justify-between">
        <div>
            <button class="create-button mr-4" (click)="createButtonClicked()">Create Item</button>
            <button class="refresh-button mr-4" (click)="refreshButtonClicked()">Refresh</button>
            <button class="clear-button" (click)="clearButtonClicked()">Clear</button>
        </div>
        <div>
            <button class="export-button mr-4" (click)="exportButtonClicked()">Export</button>
            <!-- <button class="import-button mr-4" (click)="importButtonClicked()">Import</button> -->
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let item">
                {{item.id}}
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let item">
                {{item.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="is_active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Active </th>
            <td mat-cell *matCellDef="let item">
                <input  type="checkbox"  [checked]="item.isActive"  disabled/>
            </td>
        </ng-container>

        <ng-container matColumnDef="is_weapon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Weapon</th>
            <td mat-cell *matCellDef="let item">
               <input  type="checkbox"  [checked]="item.isWeapon"  disabled/>
            </td>
        </ng-container>

        <ng-container matColumnDef="class_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
            <td mat-cell *matCellDef="let item">
                {{ getClassLabel(item.classId) }}
            </td>
        </ng-container>

                <ng-container matColumnDef="slot_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Slot </th>
            <td mat-cell *matCellDef="let item" >
                {{ getSlotLabel(item.slotId) }}
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button class="sell-button ml-2" (click)="editButtonClicked(element.id)">Edit</button>
              <button class="delete-button ml-2" (click)="deleteButtonClicked(element.id)">Delete</button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator showFirstLastButtons></mat-paginator>
</div>
