@import '../../../scss/main.scss';
@import '../../../scss/variables.scss';

.main-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input-style {
    width: 5rem;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 0.375rem;
}

.items-container {
    padding: 1rem;
    border-radius: 0.375rem;
}