<div class="flex-col items-center justify-center h-screen px-4 py-4">
    <h1 class="text-4xl text-center">Steam App</h1>

    <div class="flex items-center px-1">
        <div class="flex py-4">
            <label for="page-number">Page Number : </label>
            <input [(ngModel)]="pageNumber" (ngModelChange)="onPageNumberChange($event)" class="w-[5rem] ml-2 pl-2 rounded-md"
                type="number" min="1" step="1" title="Enter a positive number">
        </div>
        <button (click)="getListingsButtonClicked(pageNumber)" class="bg-yellow-200 rounded-md px-2 py-1 ml-auto">Get
            Results</button>
    </div>

    <div class="bg-orange-400 py-4 px-4 rounded-md">
        <ul>
            <li *ngFor="let listing of listings">
                <steam-listing [listing]="listing" (checkIsPainted)="isPaintedButtonClicked(listing.name)"></steam-listing>
            </li>
        </ul>
    </div>
</div>