<div class="table-container">
    <div class="flex flex-row justify-between w-full">
        <div>
            <button class="refresh-button mr-4" (click)="addButtonClicked()">Add</button>
            <button class="import-button mr-4" (click)="saveButtonClicked()">Save</button>
            <button class="refresh-button mr-4" (click)="refreshButtonClicked()">Refresh</button>
            <button class="clear-button" (click)="clearButtonClicked()">Clear</button>
        </div>
        <div>
            <button class="export-button mr-4" (click)="exportButtonClicked()">Export</button>
            <button class="import-button mr-4" (click)="importButtonClicked()">Import</button>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Item Column -->
        <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
            <td mat-cell *matCellDef="let sellListing">
                <input type="text" [(ngModel)]="sellListing.name" />
            </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let sellListing">
                <input type="text" [(ngModel)]="sellListing.description" />
            </td>
        </ng-container>

        <!-- Bought Price Column -->
        <ng-container matColumnDef="bought-price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bought Price </th>
            <td mat-cell *matCellDef="let sellListing" class="currency">
                <input type="number" [(ngModel)]="sellListing.costPrice" />
                <!-- {{ sellListing.costPrice | currency : "EUR" }} -->
            </td>
        </ng-container>

        <!-- Date Bought Column -->
        <ng-container matColumnDef="date-bought">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Bought </th>
            <td mat-cell *matCellDef="let sellListing" class="date">
                <input type="date" [(ngModel)]="sellListing.dateBought" />
                <!-- {{ sellListing.dateBought | date }} -->
            </td>
        </ng-container>

        <!-- Target 1 Column -->
        <ng-container matColumnDef="target1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Target 1 </th>
            <td mat-cell *matCellDef="let sellListing" class="currency">
                <input type="number" [(ngModel)]="sellListing.targetSellPrice1" />
                <!-- {{ sellListing.targetSellPrice1 | currency : "EUR" }} -->
            </td>
        </ng-container>

        <!-- Target 2 Column -->
        <ng-container matColumnDef="target2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Target 2 </th>
            <td mat-cell *matCellDef="let sellListing" class="currency">
                <input type="number" [(ngModel)]="sellListing.targetSellPrice2" />
                <!-- {{ sellListing.targetSellPrice2 | currency : "EUR" }} -->
            </td>
        </ng-container>

        <!-- Date Sold Column -->
        <ng-container matColumnDef="date-sold">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Sold </th>
            <td mat-cell *matCellDef="let sellListing" class="date">
                <input type="date" [(ngModel)]="sellListing.dateSold" [value]="sellListing.dateSold | date:'yyyy-MM-dd'" />              
                <!-- {{ sellListing.dateSold | date }} -->
            </td>
        </ng-container>

        <!-- Price Sold Column -->
        <ng-container matColumnDef="sold-price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sold Price </th>
            <td mat-cell *matCellDef="let sellListing" class="currency">
                <input type="number" [(ngModel)]="sellListing.soldPrice" />
                <!-- {{ sellListing.dateSold | currency : "EUR" }} -->
            </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let sellListing">
                <ng-container *ngIf="sellListing">
                    <steam-sell-listing (deleteSellListing)="onDeleteSellListing($event)" [sellListing]="sellListing"
                        [isModified]="modifiedStates[sellListing.id] || false"></steam-sell-listing>
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator showFirstLastButtons></mat-paginator>
</div>