@import '../../../styles.scss';

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

th:hover {
  background-color: lighten(#4CAF50, 10%);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}



button {
  border-radius: 0.375rem;
  color: white;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;

  &.refresh-button {
    background-color: map-get($button-colors, primary);

    &:hover {
      background-color: lighten(map-get($button-colors, primary), 10%);
    }
  }

  &.clear-button {
    background-color: map-get($button-colors, warning);

    &:hover {
      background-color: lighten(map-get($button-colors, warning), 10%);
    }
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1rem;
  padding: 1rem;

  table {
    border-collapse: collapse;

    thead {
      th {
        padding: 0.75rem;
        text-align: left;
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        color: white;

        &.item,
        &.description,
        &.bought-price,
        &.date-bought,
        &.target1,
        &.target2,
        &.target3,
        &.target4,
        &.date-sold,
        &.actions {
          text-align: center;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 0.75rem;
          white-space: nowrap;

          &.currency {
            // Reuse for price-related columns
            // any additional styles related to currency
          }

          &.date {
            // Reuse for date-related columns
          }
        }

        ng-container {
          // For specific steam-sell-listing styling if necessary
        }
      }
    }
  }
}