.nav-container {
  font-size: 1.5rem;
  padding: .3125rem .5rem .3125rem .5rem;
  display: flex;
  gap: .625rem;

  a {
    border: .125rem solid transparent;

    &:hover {
      border-bottom: .125rem solid black;
    }
  }
}

  
