span{
   font-size: 1rem;
}

.site-header {
  background-color: #171d25;
  color:white;
}

a {
  font-size: 0.9rem;
  display: block;
  padding: .5rem 1rem; // px-4 py-2
  white-space: nowrap;
  text-decoration: none;

  &:hover {
    background: #f5f5f5;
    color: #171d25;
  }

  &.active {
    font-weight: 600;
  }
}

[routerLink], 
[routerLinkActive] {
  cursor: pointer;
}
