<div class="flex items-center justify-between p-4">
        @if (isLoggedIn()) {
        <div class="flex">
                <steam-dropdown label="Scraping"
                        [links]="[{ label: 'Web Scraper', route: '/web-scraper' },
                        { label: 'Manual Scraper TF2', route: '/manual-mode' },
                        { label: 'Manual Scraper V2', route: '/manual-mode-v2' }]"></steam-dropdown>
                        
                <steam-dropdown label="Games"
                        [links]="[{ label: 'Games', route: '/games' }, 
                        { label: 'Game URLs', route: '/game-urls' },
                        { label: 'Game URL Products', route: '/game-url-products' }]"></steam-dropdown> 

                <a routerLink="/products" routerLinkActive="active">Products</a>
                <a routerLink="/pixels" routerLinkActive="active">Pixels</a>
                <a routerLink="/wishlist" routerLinkActive="active">Wishlist</a>
                <a routerLink="/watch-list" routerLinkActive="active">WatchList</a>
        </div>}
        <div class="flex space-x-4 items-center">
                @if(isLoggedIn())
                {
                <app-countdown-timer [initialMs]="expiration" [showControls]="false" [startOnLoad]="true"
                        comment="Remaining Session"></app-countdown-timer>
                <span class="self-center text-green-600">Signed In ✅</span>
                <a href="#" (click)="logout($event)">Logout</a>
                }
                @else
                {
                <a routerLink="/login" routerLinkActive="active">Login</a>
                }
        </div>
</div>
<hr>