@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$button-colors: (
    success: #28a745,
    primary: #007bff,
    warning: #dc3545
);

input {
    border-width: 1px;
    border-color: black;
}