<!-- <h1>Manual Mode</h1> -->
<div class="container p-4">
    <div class="flex px-5">
        <h2 class="text-2xl font-semibold text-gray-500">Manual Mode</h2>
    </div>
    <div class="flex justify-start gap-x-2 m-auto">
        <div class="panel panel--control">
            <h2>Hats Control Panel</h2>
            <div class="flex gap-2 mt-4">
                <button (click)="startHatsBatch()" class="button button-small-success">Start Batch</button>
                <button (click)="resetHatsButtonClicked()" class="button button-small-danger">Reset</button>
            </div>
            <div class="flex justify-start gap-x-2">
                <div class="py-2">
                    <label for="page-number">Current Page: </label>
                    <input [(ngModel)]="currentPage" class="w-[5rem] ml-2 pl-2 rounded-md" type="number" min="1"
                        max="500" step="1" title="Enter a positive number">
                </div>
                <div class="py-2">
                    <label for="page-number">Batch Size: </label>
                    <input [(ngModel)]="hatsBatchSize" class="w-[5rem] ml-2 pl-2 rounded-md" type="number" min="1"
                        max="500" step="1" title="Enter a positive number">
                </div>
            </div>
            <div>
                <label class="my-2 py-2">{{hatStatusLabel}}</label>
            </div>
        </div>

        <div class="panel panel--control">
            <h2>Weapons Control Panel</h2>
            <div class="flex gap-2 mt-4">
                <button (click)="startWeaponsBatch()" class="button button-small-success">Start Batch</button>
                <button (click)="resetWeaponsButtonClicked()" class="button button-small-danger">Reset</button>
                <button (click)="showAllWeaponsButtonClicked()" class="button button-small-primary">Show All</button>
            </div>
            <div class="flex gap-x-2">
                <div class="py-2">
                    <label for="page-number">Current Item: </label>
                    <input [(ngModel)]="currentIndex" class="w-[5rem] ml-2 pl-2 rounded-md" type="number" min="1"
                        max="500" step="1" title="Enter a positive number">
                </div>
                <div class="py-2">
                    <label for="page-number">Batch Size: </label>
                    <input [(ngModel)]="weaponsBatchSize" class="w-[5rem] ml-2 pl-2 rounded-md" type="number" min="1"
                        max="500" step="1" title="Enter a positive number">

                </div>
            </div>
            <div>
                <label class="my-2 py-2">{{weaponStatusLabel}}</label>
            </div>
        </div>
        <div class="panel panel--control w-[18.75rem] h-auto">
            <h2>Links</h2>
            <ul class="list-disc list-inside ml-2 marker:text-black marker:text-lg">
                <li>
                    <strong> <a target="_blank" rel="noopener noreferrer" href="https://backpack.tf/spreadsheet"
                            class="hover:text-blue-600" title="Click to Open">
                            BackpackTF Prices URL
                        </a> </strong>
                </li>
                <li>
                    <strong> <a target="_blank" rel="noopener noreferrer"
                            href="https://steamcommunity.com/id/_Val/inventory" class="hover:text-blue-600"
                            title="Click to Open">
                            Inventory
                        </a> </strong>
                </li>
                <li>
                    <strong> <a target="_blank" rel="noopener noreferrer" href="https://steamcommunity.com/market/"
                            class="hover:text-blue-600" title="Click to Open">
                            Community Market
                        </a> </strong>
                </li>

            </ul>

        </div>
        <div class="panel panel--control w-[18.75rem] h-auto">
            <h2>Search</h2>
            <app-copy-link [textToCopy]="'Strange Part:'" [textToShow]="'< Strange Part: >'"></app-copy-link>
        </div>
    </div>
    <div class="flex items-center gap-2 justify-center">
        <app-text-filter [SearchLabel]="'Item Name'" [SearchTextBind]="searchByNameFilterControl"
            (filterChange)="loadWeapons()"> </app-text-filter>
        <app-checkbox-filter [CheckboxCollection]="classFilters" [CheckboxCollectionLabel]="'Class Filters'"
            (filterChange)="loadWeapons()"></app-checkbox-filter>
        <app-checkbox-filter [CheckboxCollection]="slotFilters" [CheckboxCollectionLabel]="'Slot Filters'"
            (filterChange)="loadWeapons()"></app-checkbox-filter>
        <button (click)="ClearAllFilters()" class="button button-small-danger">Clear Filters</button>
    </div>
    <div class="panel panel--weapon-list">
        <div class="grid-item flex flex-col justify-between h-full"
            *ngFor="let weapon of weaponsCollection; let i = index">
            <strong>{{ i + 1 }}. <a href="{{weaponUrlPartial}}{{weapon.name}}">{{weapon.name}} ({{weapon.tradesCount ??
                    "Nun"}})</a></strong>
            <p>Stock: {{weapon.currentStock ?? "Nun"}}</p>
            <div class="flex flex-col align-bottom mt-4">
                <div class="flex justify-between">
                    <button (click)="addStockCount(weapon.id, weapon.currentStock)" [attr.title]="'Add Stock Count'"
                        class="button button-small-success">+</button>
                    <button (click)="addTradesCount(weapon.id, weapon.tradesCount)" [attr.title]="'Add Trades Count'"
                        class="button button-small-primary">+</button>
                    <button (click)="removeStockCount(weapon.id, weapon.currentStock)"
                        [attr.title]="'Remove Stock Count'" class="button button-small-danger">-</button>
                </div>
            </div>
        </div>
    </div>
</div>