@use '../../../scss/variables' as *;
@use '../../../scss/mixins' as *;

h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

h2 {
  font-weight: 400;
  font-size: 1.125rem;
}

%filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  border-width: .0625rem;
  border-color: black;
  border-radius: .625rem;
  padding: 0.625rem;
}

%filter-item {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  cursor: pointer;

  input[type="checkbox"] {
    cursor: pointer;
  }
}

.class-filters,
.slot-filters {
  @extend %filter-container;

  label {
    @extend %filter-item;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  .panel {
    margin: .625rem;
    border-width: .0625rem;
    border-color: black;
    border-radius: .625rem;

    h2 {
      text-align: center;
    }

    &--control {
      justify-content: center;
      background-color: antiquewhite;
      max-height: 15rem;
      padding: .625rem;
      margin: 1.5625rem 0;
    }

    &--weapon-list {
      justify-content: center;
      display: grid;
      padding: .625rem;
      border-color: transparent;
      grid-template-columns: repeat(8, min-content);
      grid-auto-flow: row;
      grid-auto-columns: minmax(7.5rem, 1fr);
      gap: 1rem;

      .grid-item {
        background: white;
        padding: .75rem;
        border-radius: .375rem;
        box-shadow: 0 .125rem .375rem rgba(0, 0, 0, 0.1);
        text-align: center;
        min-width: 10rem;
        min-height: 3.125rem;
      }
    }
  }
}