@use '../../../scss/variables' as *;
@use '../../../scss/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  .panel {
    margin: .625rem;
    border-width: .0625rem;
    border-color: black;
    border-radius: .625rem;

    &--weapon-list {
      justify-content: center;
      display: grid;
      padding: .625rem;
      border-color: transparent;
      grid-template-columns: repeat(8, min-content);
      grid-auto-flow: row;
      grid-auto-columns: minmax(7.5rem, 1fr);
      gap: 1rem;

      .grid-item {
        background: white;
        padding: .75rem;
        border-radius: .375rem;
        box-shadow: 0 .125rem .375rem rgba(0, 0, 0, 0.1);
        text-align: center;
        min-width: 10rem;
        min-height: 3.125rem;
      }
    }
  }
}