  <div class="flex px-5">
    <h2 class="text-2xl font-semibold text-gray-500 mb-4">
      Manual Mode
    </h2>
  </div>
<div class="container p-4 gap-2">
  <div class="flex gap-x-5 m-auto w-full justify-start">
    <!-- Control Panel -->
    <div class="control-panel flex flex-col p-4 rounded-md min-w-[400px]">
      <h2 class="mb-4 font-semibold">
        Control Panel
      </h2>
      <div class="filter-toolbar">
        <!-- Game -->
        <div class="filter-group min-w-[220px]">
          <label>
            Game
          </label>

          <select class="px-2 py-1" [formControl]="gameIdControl">
            <option [ngValue]="null">
              Select Game
            </option>
            @for (game of games$ | async; track game.id)
            {
            <option [ngValue]="game.id">
              {{ game.name }}
            </option>
            }
          </select>
        </div>

        <!-- Game URL -->
        <div class="filter-group min-w-[220px]">
          <label>
            Game URL
          </label>
          <select class="px-2 py-1" [formControl]="gameUrlIdControl">
            <option [ngValue]="null">
              Select Game URL
            </option>
            @for (url of gameUrlsFiltered$ | async; track url.id)
            {
            <option [ngValue]="url.id">
              {{ url.name }}
            </option>
            }
          </select>
        </div>
      </div>

      <div class="flex gap-2 mt-4">
        <button class="button button-small-primary" (click)="showAllButtonClicked()"
          [hidden]="this.selectedGameUrl?.isBatchUrl" [disabled]="gameUrlIdControl.value === null">
          Show All
        </button>

        <button (click)="clearButtonClicked()" class="button button-small-danger">
          Clear
        </button>
      </div>
    </div>

    <!-- Batch Panel -->
    <div class="control-panel flex flex-col p-4 rounded-md min-w-[400px]">
      <h2 class="mb-4 font-semibold">
        Batch Panel
      </h2>

      <div class="flex flex-col h-full justify-between">
        <div class="flex gap-x-2 justify-between">
          <div class="py-2">
            <label>
              Current Item:
            </label>

            <input class="w-[5rem] ml-2 pl-2 rounded-md" type="number" [value]="currentIndex"
              (input)="currentIndex = $any($event.target).valueAsNumber">
          </div>

          <div class="py-2">
            <label>
              Batch Size:
            </label>
            <input class="w-[5rem] ml-2 pl-2 rounded-md" type="number" [value]="batchSize"
              (input)="batchSize = $any($event.target).valueAsNumber">
          </div>
        </div>

        <div class="flex gap-2 mt-4">
          <button (click)="startBatchButtonClicked()" class="button button-small-success">
            Start Batch
          </button>

          <button (click)="clearBatchButtonClicked()" class="button button-small-danger">
            Clear
          </button>

          <button (click)="openAllButtonClicked()" class="button button-small-primary"
            [hidden]="this.selectedGameUrl?.isBatchUrl === true" [disabled]="true">
            Open All
          </button>
        </div>
      </div>
    </div>

    <!-- Links -->
    <div class="control-panel flex flex-col p-4 rounded-md min-w-[300px]">

      <h2 class="mb-4 font-semibold">
        Links
      </h2>

      <ul class="list-disc list-inside ml-2">

        <li>
          <a href="https://backpack.tf/spreadsheet" target="_blank">
            BackpackTF Prices URL
          </a>
        </li>

        <li>
          <a href="https://steamcommunity.com/id/_Val/inventory" target="_blank">
            Inventory
          </a>
        </li>

        <li>
          <a href="https://steamcommunity.com/market/" target="_blank">
            Community Market
          </a>
        </li>
      </ul>
    </div>

    <!-- Word List -->
    <div class="control-panel flex flex-col p-4 rounded-md min-w-[300px]">

      <h2 class="mb-4 font-semibold">
        Word List
      </h2>
      <app-copy-link [textToCopy]="'Strange Part:'" [textToShow]="'< Strange Part: >'">
      </app-copy-link>
    </div>
  </div>

  @if(products.length > 0)
  {
  <div class="flex justify-between">
    <div class="filter-toolbar">
      <!-- Product Name -->
      <div class="filter-group">
        <label>
          Product Name
        </label>

        <input class="px-2 py-1" type="text" placeholder="Filter by name" [formControl]="searchByNameFilterControl">
      </div>

      <!-- Rating -->
      <div class="filter-group">

        <label>
          Rating
        </label>

        <input class="px-2 py-1" type="number" placeholder="Filter by rating"
          [formControl]="searchByRatingFilterControl">

      </div>

      <!-- Tags -->
      <div class="filter-group">
        <label>
          Tags
        </label>

        <select class="px-2 py-1" [formControl]="tagSelectControl">

          <option [ngValue]="null">
            Select Tag
          </option>

          @for (tag of gameTagsFilter; track tag.id)
          {
          <option [ngValue]="tag">
            {{ tag.name }}
          </option>
          }

        </select>

      </div>

      @if (this.tagsFilter.length > 0) {
      <div class="tag-chip-row">
        @for (filter of this.tagsFilter; track filter) {
        <div class="tag-chip">
          <span>{{ filter }}</span>
          <button type="button" (click)="removeFilter(filter)">×</button>
        </div>
        }
      </div>
      }

      <button (click)="clearFiltersButtonClicked()" class="button button-small-danger">
        Clear
      </button>
    </div>
    <button (click)="exportButtonClicked()" class="button button-small-primary">Export </button>
  </div>

  <div class="panel panel--weapon-list mt-6">
    @for (product of productsFiltered; track product.productId; let i = $index)
    {
    <a [href]="product.fullUrl" target="_blank">
      <div class="grid-item flex flex-col h-[4.5rem]">
        <strong>
          {{ i + 1 }}.
          {{ product.productName }}

          @if(product.rating !== null)
          {
          Rating: {{ product.rating }} ⭐
          }
        </strong>
      </div>
    </a>
    }
  </div>
  }
</div>